body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background-color: transparent;
}

.transparent-back:hover{
    background-color: transparent !important;
}

.transparent-back{
    background-color: transparent !important;
}

.brand-name{
    font-size: 35px;
    font-family: 'Marck Script', cursive;
    
}

.hero{
    background-image: url(../img/pexels-karl-solano-2883049.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*.home-page{
    background-image: url(../img/pexels-karl-solano-2883049.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1345px;
    height: 720px;
}