body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: transparent;
}
.navbar-start > a, .navbar-link{
    text-shadow: 2px 2px 4px black;
}

.transparent-back:hover {
    background-color: transparent !important;
}

.has-background-transparent {
    background-color: transparent !important;
}

.brand-name {
    font-size: 45px;
    font-family: 'Marck Script', cursive;
    margin-bottom: 300px;
    text-align: center;
}

.brand-name > span{
    text-shadow: 2px 2px 4px black;
}

.hero {
    background-image: url(../img/pexels-karl-solano-2883049.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about{
    background-color: #222831;
    width: 100%;
    height: 300px;
    color: #eeeeeeee;
    text-align: justify;
}

.about-title{
    font-size: 30px;
    margin-bottom: 50px;
}

.is-vertical-center {
    display: flex;
    align-items: center;
  }