<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="css/pure-css-offsets.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <nav class="nav-bar">
        <div class="pure-menu pure-menu-horizontal">
            <div class="pure-g center p-box">
                <a href="#" class=" pure-menu-heading pure-menu-link pure-u-1-24">°_°</a>
                <ul class="pure-menu-list offset-7-24">
                    <li class="pure-menu-item pure-u-4-24"><a class="pure-menu-link" href="#">Inicio</a></li>
                    <li class="pure-menu-item pure-u-7-24"><a class="pure-menu-link" href="#">Ofertas do Dia</a></li>
                    <li class="pure-menu-item pure-u-5-24"><a class="pure-menu-link" href="#">Designs</a></li>
                    <li class="pure-menu-item pure-u-4-24"><a class="pure-menu-link" href="#">Login</a></li>
                    <li class="pure-menu-item pure-u-6-24"><a class="pure-menu-link" href="/cadastro">cadastre-se</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {{{body}}}

    <script src="source/javascript.js"></script>
</body>

</html>