<form class="add" action="regComplete" method="post">
        <label for="id">Id: </label>
        <input type="text" name="id" id="id">
        <label for="name">Nome: </label>
        <input type="text" name="name" id="name">
        <label for="age">Idade: </label>
        <input type="text" name="age" id="age">
        <button type="submit">Adicionar</button>
</form>